body {
    position: relative;
}

main {
    margin-bottom: 5%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 93, 114);
    text-align: center;
    color: white;
    margin-top: 5%;
}


/* .antialiased {
    background-image: url('https://maisonpourtousjuziers.fr/wp-content/uploads/2018/11/cours-theatre-improvisation-juziers-1.jpg') !important;
    background-size: 100%;
    background-attachment: fixed;
} */